* {
    margin: 0;
    padding: 0;
    background: border-box;
}

nav ul {
    display: flex;
    gap: 2.2rem;
    list-style: none;
 }

.top-row {
    display: flex;
    gap: 5rem;
}

section {
    width: 60rem;
}
header {
    padding-top: 3rem;
    font-weight: bolder;
    font-size: 2.5rem;
    font-weight: 20px;
}

section p {
    padding-top: .8rem;
    color: gray;
}

.arrow {
    color: black;
    display: flex;
    padding-top: 18rem;
    padding-left: .3r
    
}

.arrow div {
    display: flex;
    background-color: black;
    
   
}

.bottom-row {
    display: flex;
}

.bottom-row h3 {
    width: 28rem;
    padding-left: 4rem;
    padding-block: 1rem;  
}

.bottom-row h3 p {
    font-weight: lighter;
    padding-top: 1rem;
}

.right-img {
    padding-left: 3rem;
}





