* {
    margin: 0;
    padding: 0;
    background: border-box;
}

nav {
    position: absolute;
    color: white;
    padding-top: 3rem;
    padding-left: 3rem;
}

.menu {
    display: none;
}

ul {
    display: flex;
    position: absolute;
    gap: 2.2rem;
    list-style: none;
    z-index: 1;
    color: white;
 }

 .brand-name {
    font-size: 1.8rem;
 }

.top-row {
    display: flex;
    gap: 5rem;
}

 .background-image {
    position: relative;
    padding-top: -7rem;
    z-index: 0;
}

section {
    width: 60rem;
    height:fit-content ;
}

header {
    padding-top: 3rem;
    font-weight: bolder;
    font-size: 2.5rem;
    font-weight: 20px;
}

section p {
    padding-top: .8rem;
    color: gray;
}

.arrow {
    display: flex;
    padding-top: 18rem;
    height: fit-content;
}

.arrow div {
    display: flex;
    background-color: black;
}

.bottom-row {
    display: flex;
}

.bottom-row h3 {
    width: 28rem;
    padding-left: 4rem;
    padding-block: 1rem;  
}

.bottom-row h3 p {
    font-weight: lighter;
    color: gray;
    padding-top: 1rem;
}

.right-img {
    padding-left: 3rem;
}





