* {
    margin: 0;
    padding: 0;
    background: border-box;
}

nav ul {
    display: flex;
    gap: 2.2rem;
    list-style: none;
 }

.top-row {
    display: flex;
    gap: 5rem;
}

section {
    width: 60rem;
}
header {
    padding-top: 3rem;
    font-weight: bolder;
    font-size: 2.5rem;
    font-weight: 20px;
}

section p {
    padding-top: .8rem;
    color: gray;
}

.arrow {
    color: black;
    display: flex;
    padding-top: 18rem;
}

.bottom-row {
    display: flex;
}

h3 {
   display: flex;
   flex-direction: column;
}



